[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=20secondstosun
WorkingDirectory=/home/20secondstosun/reddit
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target
